// grid
$frameworkGrid: false;
$frameworkFluidGrid: false;

// forms
$frameworkForms: false;

// button styles
$frameworkButtons: false;

// icon sprites for buttons
$frameworkIcons: false;

// responsive grid
$frameworkResponsive: false;