// framework variable overrides

/*
	// typography
	$font-size: 16px;
	$line-height: 1.5em;
	$text-color: #333;
	
	// grid size config
	$column: 48px;	// column-width of your grid in pixels
	$gutter: 24px;	// gutter-width of your grid in pixels
	$columns: 16; // number of columns needed for layout
	
	// utility
	$elements-path: '/';
*/

// project variables
