// ========================================
// normalize config (uncomment variables to activate reset sections)
// ========================================

// $normalize-html5: true;
// $normalize-base: true;
// $normalize-links: true;
// $normalize-typography: true;
// $normalize-lists: true;
// $normalize-embedded: true;
// $normalize-forms: true;
// $normalize-tables: true;

// ========================================
// helper styles
// ========================================

// $helper-styles: true;
// $print-styles: true;

// ========================================
// grid size config (overrides defaults)
// ========================================

$column: 60px; // column-width of your grid in pixels
$gutter: 20px; // gutter-width of your grid in pixels
$columns: 16; // number of columns needed for layout
$ie-support: false; // number of columns for vintage ie

// ========================================
// project variables
// ========================================
