/* line 2, ../../sass/framework/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 3, ../../sass/framework/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 4, ../../sass/framework/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 7, ../../sass/framework/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 8, ../../sass/framework/_normalize.scss */
body {
  margin: 0;
}

/* line 11, ../../sass/framework/_normalize.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 14, ../../sass/framework/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 17, ../../sass/framework/_normalize.scss */
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 18, ../../sass/framework/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 19, ../../sass/framework/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 22, ../../sass/framework/_normalize.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 26, ../../sass/framework/_normalize.scss */
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 27, ../../sass/framework/_normalize.scss */
button, input {
  *overflow: visible;
  line-height: normal;
}

/* line 31, ../../sass/framework/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 32, ../../sass/framework/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 36, ../../sass/framework/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 43, ../../sass/framework/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 46, ../../sass/framework/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, ../../sass/framework/_grid.scss */
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
/* line 41, ../../sass/framework/_mixins.scss */
.container:before, .container:after {
  display: table;
  content: "";
}
/* line 41, ../../sass/framework/_mixins.scss */
.container:after {
  clear: both;
}

/* line 4, ../../sass/framework/_typography.scss */
p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
/* line 6, ../../sass/framework/_typography.scss */
p small {
  font-size: 11px;
  color: #999999;
}

/* line 8, ../../sass/framework/_typography.scss */
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}

/* line 11, ../../sass/framework/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
}
/* line 13, ../../sass/framework/_typography.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #999999;
}

/* line 15, ../../sass/framework/_typography.scss */
h1 {
  font-size: 30px;
  line-height: 36px;
}
/* line 15, ../../sass/framework/_typography.scss */
h1 small {
  font-size: 18px;
}

/* line 16, ../../sass/framework/_typography.scss */
h2 {
  font-size: 24px;
  line-height: 36px;
}
/* line 16, ../../sass/framework/_typography.scss */
h2 small {
  font-size: 18px;
}

/* line 17, ../../sass/framework/_typography.scss */
h3 {
  line-height: 27px;
  font-size: 18px;
}
/* line 17, ../../sass/framework/_typography.scss */
h3 small {
  font-size: 14px;
}

/* line 18, ../../sass/framework/_typography.scss */
h4, h5, h6 {
  line-height: 18px;
}

/* line 19, ../../sass/framework/_typography.scss */
h4 {
  font-size: 14px;
}
/* line 19, ../../sass/framework/_typography.scss */
h4 small {
  font-size: 12px;
}

/* line 20, ../../sass/framework/_typography.scss */
h5 {
  font-size: 12px;
}

/* line 21, ../../sass/framework/_typography.scss */
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

/* line 24, ../../sass/framework/_typography.scss */
.page-header {
  padding-bottom: 17px;
  margin-top: 18px;
  margin-bottom: 18px;
  border-bottom: 1px solid #eeeeee;
}

/* line 25, ../../sass/framework/_typography.scss */
.page-header h1 {
  line-height: 1;
}

/* line 28, ../../sass/framework/_typography.scss */
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

/* line 29, ../../sass/framework/_typography.scss */
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* line 30, ../../sass/framework/_typography.scss */
ul {
  list-style: disc;
}

/* line 31, ../../sass/framework/_typography.scss */
ol {
  list-style: decimal;
}

/* line 32, ../../sass/framework/_typography.scss */
li {
  line-height: 18px;
}

/* line 33, ../../sass/framework/_typography.scss */
ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 36, ../../sass/framework/_typography.scss */
dl {
  margin-bottom: 18px;
}

/* line 37, ../../sass/framework/_typography.scss */
dt, dd {
  line-height: 18px;
}

/* line 38, ../../sass/framework/_typography.scss */
dt {
  font-weight: bold;
}

/* line 39, ../../sass/framework/_typography.scss */
dd {
  margin-left: 9px;
}

/* line 43, ../../sass/framework/_typography.scss */
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
}

/* line 46, ../../sass/framework/_typography.scss */
strong {
  font-weight: bold;
}

/* line 47, ../../sass/framework/_typography.scss */
em {
  font-style: italic;
}

/* line 48, ../../sass/framework/_typography.scss */
.muted {
  color: #999999;
}

/* line 51, ../../sass/framework/_typography.scss */
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

/* line 54, ../../sass/framework/_typography.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #eeeeee;
}
/* line 56, ../../sass/framework/_typography.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
/* line 57, ../../sass/framework/_typography.scss */
blockquote small {
  display: block;
  line-height: 18px;
  color: #999999;
}
/* line 59, ../../sass/framework/_typography.scss */
blockquote small:before {
  content: '\2014 \00A0';
}
/* line 63, ../../sass/framework/_typography.scss */
blockquote.pull-right {
  float: right;
  padding-left: 0;
  padding-right: 15px;
  border-left: 0;
  border-right: 5px solid #eeeeee;
}
/* line 65, ../../sass/framework/_typography.scss */
blockquote.pull-right p, blockquote.pull-right small {
  text-align: right;
}

/* line 70, ../../sass/framework/_typography.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 73, ../../sass/framework/_typography.scss */
address {
  display: block;
  margin-bottom: 18px;
  line-height: 18px;
  font-style: normal;
}

/* line 76, ../../sass/framework/_typography.scss */
small {
  font-size: 10.4px;
}

/* line 77, ../../sass/framework/_typography.scss */
cite {
  font-style: normal;
}

/* line 80, ../../sass/framework/_typography.scss */
.label {
  padding: 2px 4px 3px;
  font-size: 11.05px;
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #999999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* line 91, ../../sass/framework/_typography.scss */
.label:hover {
  color: white;
  text-decoration: none;
}

/* line 94, ../../sass/framework/_typography.scss */
.label-important {
  background-color: #b94a48;
}

/* line 95, ../../sass/framework/_typography.scss */
.label-important:hover {
  background-color: #953b39;
}

/* line 97, ../../sass/framework/_typography.scss */
.label-warning {
  background-color: #f89406;
}

/* line 98, ../../sass/framework/_typography.scss */
.label-warning:hover {
  background-color: #c67605;
}

/* line 100, ../../sass/framework/_typography.scss */
.label-success {
  background-color: #468847;
}

/* line 101, ../../sass/framework/_typography.scss */
.label-success:hover {
  background-color: #356635;
}

/* line 103, ../../sass/framework/_typography.scss */
.label-info {
  background-color: #3a87ad;
}

/* line 104, ../../sass/framework/_typography.scss */
.label-info:hover {
  background-color: #2d6987;
}

/* line 107, ../../sass/framework/_typography.scss */
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* line 111, ../../sass/framework/_typography.scss */
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

/* line 113, ../../sass/framework/_typography.scss */
.well-small {
  min-height: 18px;
  padding: 13px 15px 15px;
}

/* line 138, ../../sass/framework/_buttons.scss */
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url('/elements/img/glyphicons-halflings.png?1331172320');
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
/* line 60, ../../sass/framework/_mixins.scss */
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}

/* line 146, ../../sass/framework/_buttons.scss */
.icon-white {
  background-image: url('/elements/img/glyphicons-halflings-white.png?1331172320');
}

/* line 148, ../../sass/framework/_buttons.scss */
.icon-glass {
  background-position: 0 0px;
}

/* line 149, ../../sass/framework/_buttons.scss */
.icon-music {
  background-position: -24px 0px;
}

/* line 150, ../../sass/framework/_buttons.scss */
.icon-search {
  background-position: -48px 0px;
}

/* line 151, ../../sass/framework/_buttons.scss */
.icon-envelope {
  background-position: -72px 0px;
}

/* line 152, ../../sass/framework/_buttons.scss */
.icon-heart {
  background-position: -96px 0px;
}

/* line 153, ../../sass/framework/_buttons.scss */
.icon-star {
  background-position: -120px 0px;
}

/* line 154, ../../sass/framework/_buttons.scss */
.icon-star-empty {
  background-position: -144px 0px;
}

/* line 155, ../../sass/framework/_buttons.scss */
.icon-user {
  background-position: -168px 0px;
}

/* line 156, ../../sass/framework/_buttons.scss */
.icon-film {
  background-position: -192px 0px;
}

/* line 157, ../../sass/framework/_buttons.scss */
.icon-th-large {
  background-position: -216px 0px;
}

/* line 158, ../../sass/framework/_buttons.scss */
.icon-th {
  background-position: -240px 0px;
}

/* line 159, ../../sass/framework/_buttons.scss */
.icon-th-list {
  background-position: -264px 0px;
}

/* line 160, ../../sass/framework/_buttons.scss */
.icon-ok {
  background-position: -288px 0px;
}

/* line 161, ../../sass/framework/_buttons.scss */
.icon-remove {
  background-position: -312px 0px;
}

/* line 162, ../../sass/framework/_buttons.scss */
.icon-zoom-in {
  background-position: -336px 0px;
}

/* line 163, ../../sass/framework/_buttons.scss */
.icon-zoom-out {
  background-position: -360px 0px;
}

/* line 164, ../../sass/framework/_buttons.scss */
.icon-off {
  background-position: -384px 0px;
}

/* line 165, ../../sass/framework/_buttons.scss */
.icon-signal {
  background-position: -408px 0px;
}

/* line 166, ../../sass/framework/_buttons.scss */
.icon-cog {
  background-position: -432px 0px;
}

/* line 167, ../../sass/framework/_buttons.scss */
.icon-trash {
  background-position: -456px 0px;
}

/* line 169, ../../sass/framework/_buttons.scss */
.icon-home {
  background-position: 0 -24px;
}

/* line 170, ../../sass/framework/_buttons.scss */
.icon-file {
  background-position: -24px -24px;
}

/* line 171, ../../sass/framework/_buttons.scss */
.icon-time {
  background-position: -48px -24px;
}

/* line 172, ../../sass/framework/_buttons.scss */
.icon-road {
  background-position: -72px -24px;
}

/* line 173, ../../sass/framework/_buttons.scss */
.icon-download-alt {
  background-position: -96px -24px;
}

/* line 174, ../../sass/framework/_buttons.scss */
.icon-download {
  background-position: -120px -24px;
}

/* line 175, ../../sass/framework/_buttons.scss */
.icon-upload {
  background-position: -144px -24px;
}

/* line 176, ../../sass/framework/_buttons.scss */
.icon-inbox {
  background-position: -168px -24px;
}

/* line 177, ../../sass/framework/_buttons.scss */
.icon-play-circle {
  background-position: -192px -24px;
}

/* line 178, ../../sass/framework/_buttons.scss */
.icon-repeat {
  background-position: -216px -24px;
}

/* line 179, ../../sass/framework/_buttons.scss */
.icon-refresh {
  background-position: -240px -24px;
}

/* line 180, ../../sass/framework/_buttons.scss */
.icon-list-alt {
  background-position: -264px -24px;
}

/* line 181, ../../sass/framework/_buttons.scss */
.icon-lock {
  background-position: -287px -24px;
}

/* line 182, ../../sass/framework/_buttons.scss */
.icon-flag {
  background-position: -312px -24px;
}

/* line 183, ../../sass/framework/_buttons.scss */
.icon-headphones {
  background-position: -336px -24px;
}

/* line 184, ../../sass/framework/_buttons.scss */
.icon-volume-off {
  background-position: -360px -24px;
}

/* line 185, ../../sass/framework/_buttons.scss */
.icon-volume-down {
  background-position: -384px -24px;
}

/* line 186, ../../sass/framework/_buttons.scss */
.icon-volume-up {
  background-position: -408px -24px;
}

/* line 187, ../../sass/framework/_buttons.scss */
.icon-qrcode {
  background-position: -432px -24px;
}

/* line 188, ../../sass/framework/_buttons.scss */
.icon-barcode {
  background-position: -456px -24px;
}

/* line 190, ../../sass/framework/_buttons.scss */
.icon-tag {
  background-position: 0 -48px;
}

/* line 191, ../../sass/framework/_buttons.scss */
.icon-tags {
  background-position: -25px -48px;
}

/* line 192, ../../sass/framework/_buttons.scss */
.icon-book {
  background-position: -48px -48px;
}

/* line 193, ../../sass/framework/_buttons.scss */
.icon-bookmark {
  background-position: -72px -48px;
}

/* line 194, ../../sass/framework/_buttons.scss */
.icon-print {
  background-position: -96px -48px;
}

/* line 195, ../../sass/framework/_buttons.scss */
.icon-camera {
  background-position: -120px -48px;
}

/* line 196, ../../sass/framework/_buttons.scss */
.icon-font {
  background-position: -144px -48px;
}

/* line 197, ../../sass/framework/_buttons.scss */
.icon-bold {
  background-position: -167px -48px;
}

/* line 198, ../../sass/framework/_buttons.scss */
.icon-italic {
  background-position: -192px -48px;
}

/* line 199, ../../sass/framework/_buttons.scss */
.icon-text-height {
  background-position: -216px -48px;
}

/* line 200, ../../sass/framework/_buttons.scss */
.icon-text-width {
  background-position: -240px -48px;
}

/* line 201, ../../sass/framework/_buttons.scss */
.icon-align-left {
  background-position: -264px -48px;
}

/* line 202, ../../sass/framework/_buttons.scss */
.icon-align-center {
  background-position: -288px -48px;
}

/* line 203, ../../sass/framework/_buttons.scss */
.icon-align-right {
  background-position: -312px -48px;
}

/* line 204, ../../sass/framework/_buttons.scss */
.icon-align-justify {
  background-position: -336px -48px;
}

/* line 205, ../../sass/framework/_buttons.scss */
.icon-list {
  background-position: -360px -48px;
}

/* line 206, ../../sass/framework/_buttons.scss */
.icon-indent-left {
  background-position: -384px -48px;
}

/* line 207, ../../sass/framework/_buttons.scss */
.icon-indent-right {
  background-position: -408px -48px;
}

/* line 208, ../../sass/framework/_buttons.scss */
.icon-facetime-video {
  background-position: -432px -48px;
}

/* line 209, ../../sass/framework/_buttons.scss */
.icon-picture {
  background-position: -456px -48px;
}

/* line 211, ../../sass/framework/_buttons.scss */
.icon-pencil {
  background-position: 0 -72px;
}

/* line 212, ../../sass/framework/_buttons.scss */
.icon-map-marker {
  background-position: -24px -72px;
}

/* line 213, ../../sass/framework/_buttons.scss */
.icon-adjust {
  background-position: -48px -72px;
}

/* line 214, ../../sass/framework/_buttons.scss */
.icon-tint {
  background-position: -72px -72px;
}

/* line 215, ../../sass/framework/_buttons.scss */
.icon-edit {
  background-position: -96px -72px;
}

/* line 216, ../../sass/framework/_buttons.scss */
.icon-share {
  background-position: -120px -72px;
}

/* line 217, ../../sass/framework/_buttons.scss */
.icon-check {
  background-position: -144px -72px;
}

/* line 218, ../../sass/framework/_buttons.scss */
.icon-move {
  background-position: -168px -72px;
}

/* line 219, ../../sass/framework/_buttons.scss */
.icon-step-backward {
  background-position: -192px -72px;
}

/* line 220, ../../sass/framework/_buttons.scss */
.icon-fast-backward {
  background-position: -216px -72px;
}

/* line 221, ../../sass/framework/_buttons.scss */
.icon-backward {
  background-position: -240px -72px;
}

/* line 222, ../../sass/framework/_buttons.scss */
.icon-play {
  background-position: -264px -72px;
}

/* line 223, ../../sass/framework/_buttons.scss */
.icon-pause {
  background-position: -288px -72px;
}

/* line 224, ../../sass/framework/_buttons.scss */
.icon-stop {
  background-position: -312px -72px;
}

/* line 225, ../../sass/framework/_buttons.scss */
.icon-forward {
  background-position: -336px -72px;
}

/* line 226, ../../sass/framework/_buttons.scss */
.icon-fast-forward {
  background-position: -360px -72px;
}

/* line 227, ../../sass/framework/_buttons.scss */
.icon-step-forward {
  background-position: -384px -72px;
}

/* line 228, ../../sass/framework/_buttons.scss */
.icon-eject {
  background-position: -408px -72px;
}

/* line 229, ../../sass/framework/_buttons.scss */
.icon-chevron-left {
  background-position: -432px -72px;
}

/* line 230, ../../sass/framework/_buttons.scss */
.icon-chevron-right {
  background-position: -456px -72px;
}

/* line 232, ../../sass/framework/_buttons.scss */
.icon-plus-sign {
  background-position: 0 -96px;
}

/* line 233, ../../sass/framework/_buttons.scss */
.icon-minus-sign {
  background-position: -24px -96px;
}

/* line 234, ../../sass/framework/_buttons.scss */
.icon-remove-sign {
  background-position: -48px -96px;
}

/* line 235, ../../sass/framework/_buttons.scss */
.icon-ok-sign {
  background-position: -72px -96px;
}

/* line 236, ../../sass/framework/_buttons.scss */
.icon-question-sign {
  background-position: -96px -96px;
}

/* line 237, ../../sass/framework/_buttons.scss */
.icon-info-sign {
  background-position: -120px -96px;
}

/* line 238, ../../sass/framework/_buttons.scss */
.icon-screenshot {
  background-position: -144px -96px;
}

/* line 239, ../../sass/framework/_buttons.scss */
.icon-remove-circle {
  background-position: -168px -96px;
}

/* line 240, ../../sass/framework/_buttons.scss */
.icon-ok-circle {
  background-position: -192px -96px;
}

/* line 241, ../../sass/framework/_buttons.scss */
.icon-ban-circle {
  background-position: -216px -96px;
}

/* line 242, ../../sass/framework/_buttons.scss */
.icon-arrow-left {
  background-position: -240px -96px;
}

/* line 243, ../../sass/framework/_buttons.scss */
.icon-arrow-right {
  background-position: -264px -96px;
}

/* line 244, ../../sass/framework/_buttons.scss */
.icon-arrow-up {
  background-position: -289px -96px;
}

/* line 245, ../../sass/framework/_buttons.scss */
.icon-arrow-down {
  background-position: -312px -96px;
}

/* line 246, ../../sass/framework/_buttons.scss */
.icon-share-alt {
  background-position: -336px -96px;
}

/* line 247, ../../sass/framework/_buttons.scss */
.icon-resize-full {
  background-position: -360px -96px;
}

/* line 248, ../../sass/framework/_buttons.scss */
.icon-resize-small {
  background-position: -384px -96px;
}

/* line 249, ../../sass/framework/_buttons.scss */
.icon-plus {
  background-position: -408px -96px;
}

/* line 250, ../../sass/framework/_buttons.scss */
.icon-minus {
  background-position: -433px -96px;
}

/* line 251, ../../sass/framework/_buttons.scss */
.icon-asterisk {
  background-position: -456px -96px;
}

/* line 253, ../../sass/framework/_buttons.scss */
.icon-exclamation-sign {
  background-position: 0 -120px;
}

/* line 254, ../../sass/framework/_buttons.scss */
.icon-gift {
  background-position: -24px -120px;
}

/* line 255, ../../sass/framework/_buttons.scss */
.icon-leaf {
  background-position: -48px -120px;
}

/* line 256, ../../sass/framework/_buttons.scss */
.icon-fire {
  background-position: -72px -120px;
}

/* line 257, ../../sass/framework/_buttons.scss */
.icon-eye-open {
  background-position: -96px -120px;
}

/* line 258, ../../sass/framework/_buttons.scss */
.icon-eye-close {
  background-position: -120px -120px;
}

/* line 259, ../../sass/framework/_buttons.scss */
.icon-warning-sign {
  background-position: -144px -120px;
}

/* line 260, ../../sass/framework/_buttons.scss */
.icon-plane {
  background-position: -168px -120px;
}

/* line 261, ../../sass/framework/_buttons.scss */
.icon-calendar {
  background-position: -192px -120px;
}

/* line 262, ../../sass/framework/_buttons.scss */
.icon-random {
  background-position: -216px -120px;
}

/* line 263, ../../sass/framework/_buttons.scss */
.icon-comment {
  background-position: -240px -120px;
}

/* line 264, ../../sass/framework/_buttons.scss */
.icon-magnet {
  background-position: -264px -120px;
}

/* line 265, ../../sass/framework/_buttons.scss */
.icon-chevron-up {
  background-position: -288px -120px;
}

/* line 266, ../../sass/framework/_buttons.scss */
.icon-chevron-down {
  background-position: -313px -119px;
}

/* line 267, ../../sass/framework/_buttons.scss */
.icon-retweet {
  background-position: -336px -120px;
}

/* line 268, ../../sass/framework/_buttons.scss */
.icon-shopping-cart {
  background-position: -360px -120px;
}

/* line 269, ../../sass/framework/_buttons.scss */
.icon-folder-close {
  background-position: -384px -120px;
}

/* line 270, ../../sass/framework/_buttons.scss */
.icon-folder-open {
  background-position: -408px -120px;
}

/* line 271, ../../sass/framework/_buttons.scss */
.icon-resize-vertical {
  background-position: -432px -119px;
}

/* line 272, ../../sass/framework/_buttons.scss */
.icon-resize-horizontal {
  background-position: -456px -118px;
}

/* line 2, ../../sass/framework/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 3, ../../sass/framework/_helpers.scss */
.ir br {
  display: none;
}

/* line 6, ../../sass/framework/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 9, ../../sass/framework/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 12, ../../sass/framework/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 15, ../../sass/framework/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 18, ../../sass/framework/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 41, ../../sass/framework/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 41, ../../sass/framework/_mixins.scss */
.clearfix:after {
  clear: both;
}

@media print {
  /* line 3, ../../sass/framework/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 4, ../../sass/framework/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 5, ../../sass/framework/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 6, ../../sass/framework/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 7, ../../sass/framework/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 8, ../../sass/framework/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 9, ../../sass/framework/_print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 10, ../../sass/framework/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 11, ../../sass/framework/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 13, ../../sass/framework/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 14, ../../sass/framework/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
