/* line 31, ../../sass/framework/_mixins.scss */
.serif {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 32, ../../sass/framework/_mixins.scss */
.sans-serif, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 33, ../../sass/framework/_mixins.scss */
.monospace, code, pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../../sass/framework/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../../sass/framework/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../../sass/framework/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../../sass/framework/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../../sass/framework/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../../sass/framework/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../../sass/framework/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../../sass/framework/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../../sass/framework/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../../sass/framework/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../../sass/framework/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../../sass/framework/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../../sass/framework/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../../sass/framework/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../../sass/framework/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../../sass/framework/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../../sass/framework/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../../sass/framework/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../../sass/framework/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../../sass/framework/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../../sass/framework/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../../sass/framework/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../../sass/framework/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../../sass/framework/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../../sass/framework/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../../sass/framework/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../../sass/framework/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../../sass/framework/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../../sass/framework/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../../sass/framework/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../../sass/framework/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../../sass/framework/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../../sass/framework/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../../sass/framework/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../../sass/framework/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../../sass/framework/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../../sass/framework/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../../sass/framework/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../../sass/framework/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../../sass/framework/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../../sass/framework/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../../sass/framework/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../../sass/framework/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../../sass/framework/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../../sass/framework/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../../sass/framework/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../../sass/framework/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../../sass/framework/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../../sass/framework/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 21, ../../sass/framework/_grid.scss */
.container {
  width: auto;
  margin: 0 24px;
}

/* line 22, ../../sass/framework/_grid.scss */
.col {
  float: none;
  margin-left: 0;
  width: auto;
}

/* line 6, ../../sass/framework/_typography.scss */
body {
  color: #333333;
}

/* line 7, ../../sass/framework/_typography.scss */
p {
  margin: 0 0 0.75em;
  line-height: 1.5em;
}

/* line 10, ../../sass/framework/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  text-rendering: optimizelegibility;
  line-height: 1.5em;
}

/* line 11, ../../sass/framework/_typography.scss */
h1 {
  font-size: 1.875em;
}

/* line 12, ../../sass/framework/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 13, ../../sass/framework/_typography.scss */
h3 {
  font-size: 1.125em;
}

/* line 14, ../../sass/framework/_typography.scss */
h4, h5, h6 {
  font-size: 1em;
}

/* line 17, ../../sass/framework/_typography.scss */
ul, ol {
  padding: 0;
  margin: 0 0 0.75em 1.5em;
}

/* line 18, ../../sass/framework/_typography.scss */
ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

/* line 19, ../../sass/framework/_typography.scss */
ul {
  list-style: disc;
}

/* line 20, ../../sass/framework/_typography.scss */
ol {
  list-style: decimal;
}

/* line 21, ../../sass/framework/_typography.scss */
li {
  line-height: 1.5em;
}

/* line 22, ../../sass/framework/_typography.scss */
ul.unstyled, ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 25, ../../sass/framework/_typography.scss */
dl {
  margin-bottom: 1.5em;
}

/* line 26, ../../sass/framework/_typography.scss */
dt, dd {
  line-height: 1.5em;
}

/* line 27, ../../sass/framework/_typography.scss */
dt {
  font-weight: bold;
}

/* line 28, ../../sass/framework/_typography.scss */
dd {
  margin-left: 0.75em;
}

/* line 31, ../../sass/framework/_typography.scss */
hr {
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid white;
}

/* line 34, ../../sass/framework/_typography.scss */
strong {
  font-weight: bold;
}

/* line 35, ../../sass/framework/_typography.scss */
em {
  font-style: italic;
}

/* line 38, ../../sass/framework/_typography.scss */
abbr {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help;
}

/* line 41, ../../sass/framework/_typography.scss */
blockquote {
  padding: 0 0 0 1em;
  margin: 0 0 1.5em;
  border-left: 0.313em solid #b3b3b3;
}
/* line 43, ../../sass/framework/_typography.scss */
blockquote p {
  margin-bottom: 0;
}

/* line 47, ../../sass/framework/_typography.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 50, ../../sass/framework/_typography.scss */
address {
  display: block;
  margin-bottom: 1.5em;
  line-height: 1.5em;
  font-style: normal;
}

/* line 3, ../../sass/framework/_tables.scss */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../../sass/framework/_tables.scss */
.table {
  width: 100%;
  margin-bottom: 1.5em;
}
/* line 8, ../../sass/framework/_tables.scss */
.table th, .table td {
  padding: .5em;
  line-height: 1.5em;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
/* line 9, ../../sass/framework/_tables.scss */
.table th, .table tfoot td {
  font-weight: bold;
}
/* line 11, ../../sass/framework/_tables.scss */
.table thead th {
  vertical-align: bottom;
}
/* line 13, ../../sass/framework/_tables.scss */
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
/* line 15, ../../sass/framework/_tables.scss */
.table tbody + tbody {
  border-top: 2px solid #ddd;
}

/* line 18, ../../sass/framework/_tables.scss */
caption {
  padding: 8px;
  line-height: 1.5em;
}

/* line 21, ../../sass/framework/_tables.scss */
.table-condensed th, .table-condensed td {
  padding: .25em;
}

/* line 25, ../../sass/framework/_tables.scss */
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 30, ../../sass/framework/_tables.scss */
.table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
  border-left: 1px solid #ddd;
}
/* line 35, ../../sass/framework/_tables.scss */
.table-bordered thead:first-child tr:first-child th,
.table-bordered thead:first-of-type tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 40, ../../sass/framework/_tables.scss */
.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
/* line 44, ../../sass/framework/_tables.scss */
.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
/* line 49, ../../sass/framework/_tables.scss */
.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
/* line 53, ../../sass/framework/_tables.scss */
.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  -ms-border-radius: 0 0 4px 0;
  -o-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 59, ../../sass/framework/_tables.scss */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 62, ../../sass/framework/_tables.scss */
.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #f5f5f5;
}

/* line 4, ../../sass/framework/_code.scss */
code, pre {
  padding: 0 0.188em 0.125em;
  font-size: .8em;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 9, ../../sass/framework/_code.scss */
code {
  padding: 0.188em 0.25em;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 12, ../../sass/framework/_code.scss */
pre {
  display: block;
  padding: 1.125em 1.5em;
  margin: 0 0 0.75em;
  font-size: 0.75em;
  line-height: 1.5em;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
/* line 28, ../../sass/framework/_code.scss */
pre.prettyprint {
  margin-bottom: 1.5em;
}
/* line 31, ../../sass/framework/_code.scss */
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* line 35, ../../sass/framework/_code.scss */
.pre-scrollable {
  max-height: 21.25em;
  overflow-y: scroll;
}

/* line 3, ../../sass/framework/_forms.scss */
form {
  margin: 0;
}

/* line 4, ../../sass/framework/_forms.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 7, ../../sass/framework/_forms.scss */
label {
  display: block;
  margin-bottom: .25em;
  color: #333333;
}

/* line 10, ../../sass/framework/_forms.scss */
input, textarea, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 2.25em;
  padding: .25em .5em;
  margin-bottom: .5em;
  font-size: .75em;
  color: #333333;
  border: none;
  background: #eee;
}
/* line 10, ../../sass/framework/_mixins.scss */
.lt-ie8 input, .lt-ie8 textarea, .lt-ie8 select {
  behavior: url(../js/mylibs/boxsizing.htc);
}
/* line 7, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input, textarea, select {
  *display: inline;
}

/* line 19, ../../sass/framework/_forms.scss */
label input, label textarea, label select {
  display: block;
}

/* line 22, ../../sass/framework/_forms.scss */
input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: .25em 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */
}

/* line 26, ../../sass/framework/_forms.scss */
input[type="image"] {
  border: 0;
}

/* line 29, ../../sass/framework/_forms.scss */
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: white;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 35, ../../sass/framework/_forms.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto;
}

/* line 38, ../../sass/framework/_forms.scss */
select {
  height: 1.75em;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: .25em;
  /* For IE7, add top margin to align select with labels */
  line-height: 1.75em;
}

/* line 45, ../../sass/framework/_forms.scss */
select {
  background-color: white;
}

/* line 48, ../../sass/framework/_forms.scss */
select[multiple], select[size] {
  height: auto;
}

/* line 51, ../../sass/framework/_forms.scss */
textarea {
  height: auto;
}

/* line 54, ../../sass/framework/_forms.scss */
input[type="hidden"] {
  display: none;
}

/* line 57, ../../sass/framework/_forms.scss */
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s box-shadow linear 0.2s;
  -o-transition: border linear 0.2s box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 62, ../../sass/framework/_forms.scss */
input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

/* line 68, ../../sass/framework/_forms.scss */
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 74, ../../sass/framework/_forms.scss */
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1.8em;
  height: 2.25em;
  padding: .25em .5em;
  margin-bottom: .5em;
  font-size: .75em;
  color: #333333;
  background: #DDD;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}
/* line 10, ../../sass/framework/_mixins.scss */
.lt-ie8 .btn {
  behavior: url(../js/mylibs/boxsizing.htc);
}

/* line 84, ../../sass/framework/_forms.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 87, ../../sass/framework/_forms.scss */
button.btn, input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
/* line 89, ../../sass/framework/_forms.scss */
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 2, ../../sass/framework/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 3, ../../sass/framework/_helpers.scss */
.ir br {
  display: none;
}

/* line 6, ../../sass/framework/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 9, ../../sass/framework/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 12, ../../sass/framework/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 15, ../../sass/framework/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 18, ../../sass/framework/_helpers.scss */
.clearfix {
  *zoom: 1;
}
/* line 19, ../../sass/framework/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 19, ../../sass/framework/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 21, ../../sass/framework/_helpers.scss */
ul.unstyled, ol.unstyled {
  margin: 0 0 0.75em 0;
  list-style: none;
}

@media print {
  /* line 3, ../../sass/framework/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 4, ../../sass/framework/_print.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 5, ../../sass/framework/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 6, ../../sass/framework/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 7, ../../sass/framework/_print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 8, ../../sass/framework/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 9, ../../sass/framework/_print.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 10, ../../sass/framework/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 11, ../../sass/framework/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 13, ../../sass/framework/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 14, ../../sass/framework/_print.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
