@charset "UTF-8";
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 17px;
}
p.lead {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 17px;
}
p img.left, p img {
  margin: 17px;
  margin-left: 0;
}
p img.right {
  margin: 17px;
  margin-right: 0;
}

aside p {
  font-size: 15px;
  line-height: 1.35;
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1.1;
  margin-bottom: 16px;
  margin-top: 16px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #888;
  line-height: 0;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.375em 0 1.313em;
  height: 0;
}

.subheader {
  line-height: 1.3;
  color: #777;
  font-weight: 300;
  margin-bottom: 17px;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-weight: bold;
  background: #ffff99;
}

/* Lists */
ul, ol {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 17px;
  list-style-position: outside;
}

ul.square, ul.circle, ul.disc {
  margin-left: 17px;
}

ul.square {
  list-style-type: square;
}

ul.circle {
  list-style-type: circle;
}

ul.disc {
  list-style-type: disc;
}

ul.large li {
  line-height: 21px;
}

/*  Blockquotes  */
blockquote, blockquote p {
  line-height: 1.5;
  color: #777;
}

blockquote {
  margin: 0 0 17px;
  padding: 0.563em 1.25em 0 1.188em;
  border-left: 1px solid #ddd;
}

blockquote cite {
  display: block;
  font-size: 15px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited {
  color: #555;
}

abbr, acronym {
  text-transform: uppercase;
  font-size: 90%;
  color: #222;
  border-bottom: 1px solid #ddd;
  cursor: help;
}

abbr {
  text-transform: none;
}

head {
  width: 0;
}

/* Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
.wrapper {
  margin-left: 1.25em;
  margin-right: 1.25em;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  text-align: left;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  text-rendering: optimizespeed;
}

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

.grid-cell {
  width: 100%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.625em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}
.grid-cell {
  *display: inline;
}
.lt-ie8 .grid-cell {
  behavior: url(/elements/js/boxsizing.htc);
}

.grid-center {
  text-align: center;
}

.grid-cell-center {
  display: block;
  margin: 0 auto;
}

@media (min-width: 46.25em) {
  head {
    width: 9px;
  }

  .wrapper {
    width: 43.75em;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    width: 55.556%;
  }

  .sub-content {
    width: 44.444%;
  }

  .feature {
    width: 33.333%;
  }
}
@media (min-width: 61.25em) {
  head {
    width: 12px;
  }

  .wrapper {
    width: 58.75em;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    width: 66.667%;
  }

  .sub-content {
    width: 33.333%;
  }

  .feature {
    width: 33.333%;
  }
}
