// ==========================================================================
// normalize config (uncomment variables to activate reset sections)
// ==========================================================================

$normalize-html5: true;
$normalize-base: true;

// $normalize-links: true;
// $normalize-typography: true;
// $normalize-lists: true;
// $normalize-embedded: true;
// $normalize-forms: true;
// $normalize-tables: true;

// other resets
// ==========================================================================

$modular-scale: true;
// $print-styles: true;

// ==========================================================================
// project specific variables and mixins
// ==========================================================================