// Variables
// =============================================================================

$grid-column: 60px; // can be px, em, or %
$grid-gutter: 20px; // can be px, em, or %
$grid-overlay: true; // generate visual grid overlay
$ie-support: false; // fallback breakpoint

// Import grid framework
// =============================================================================

@import 'framework/grid-helpers';
@import 'framework/grid-core';

// Structure
// =============================================================================

// visualize grid cells
.grid-cell p { background: #EEE; padding: .25em .5em; font-size: .75em; }

// mobile first style
.fluid-demo {
	p::before { content: '100% fluid for mobile' }
}

.fixed-demo {
	p::before { content: '100% fluid for mobile' }
}

// 8 column breakpoint
@include breakpoint(8){
	.fluid-demo {
		.grid-cell { width: fluid(4,8); }
		p::before { content: '50% fluid at 8 col' }
	}
	.fixed-demo {
		.grid-cell { width: fixed(2); }
		p::before { content: '2 col fixed at 8 col' }
	}
}

// 12 column breakpoint
@include breakpoint(12){
	.fluid-demo {
		.grid-cell { width: fluid(3,12); }
		p::before { content: '25% fluid at 12 col' }
	}
	.fixed-demo {
		.grid-cell { width: fixed(3); }
		p::before { content: '3 col fixed at 12 col' }
	}
}

@include breakpoint(9, 11) {
  .main { /* sandboxed styles */ }
}
