// ==========================================================================
// normalize config (uncomment variables to activate reset sections)
// ==========================================================================

$normalize-html5: true;
$normalize-base: true;

// $normalize-links: true;
// $normalize-typography: true;
// $normalize-lists: true;
// $normalize-embedded: true;
// $normalize-forms: true;
// $normalize-tables: true;

// other resets
// ==========================================================================

// $print-styles: true;

// Grid Variables
// =============================================================================

$grid-column: 60px;
$grid-gutter: 20px;
$grid-overlay: false; // generate visual grid overlay
$ie-support: false; // fallback breakpoint
$base-font-size: 16px;

// Path to server's static files directory
// Do not use a trailing slash
// ==========================================================================
$static-path: '/static';

// ==========================================================================
// project specific variables and mixins
// ==========================================================================