// ==========================================================================
// normalize config (uncomment variables to activate reset sections)
// ==========================================================================

$normalize-html5: true;
$normalize-base: true;

// $normalize-links: true;
// $normalize-typography: true;
// $normalize-embedded: true;
// $normalize-forms: true;
// $normalize-tables: true;


// other resets
// ==========================================================================

// H5BP default styles
$opinionated-defaults: true;

// $print-styles: true;


// Grid Variables
// ==========================================================================

$grid-column: 60px;
$grid-gutter: 20px;
$base-font-size: 16px;

// generate visual grid overlay on class .grid-overlay
$grid-overlay: true;

// fallback breakpoint (column count for < IE9)
$ie-support: false;

// label for your mobile first breakpoint
$breakpoint-list: 'small';

// Path to server's static files directory
// Do not use a trailing slash
$static-path: '/static';


// ==========================================================================
// project specific variables and mixins
// ==========================================================================