.page-header {
	position: relative;
	.wrapper { @extend .clearfix; position: relative; }
	.header-border {
		background: transparent url('../img/header-border.png') repeat-x center top; height: 17px;
		position: absolute; bottom: -17px; left: 0; right: 0;
		border-top: solid 1px transparentize($brown, .3);
	}
}

// link styles
.navigation a {
	@extend .bebas; font-size: em(17px); text-decoration: none; color: $brown;
	display: block; padding: .25em .5em; line-height: em(13px);
}

// hide mobile logout button on desktop
a.btn-logout-desktop { display: none; }

$element-padding: .75em;

.header-logo {
	float: left; padding: $element-padding 0; margin-left: em($grid-gutter);
	img { display: block; padding: .25em 0; font-size: em(17px); }
}

.header-menu-trigger {
	float: right; height: em(22px); padding: $element-padding 0;
	margin-right: em($grid-gutter); cursor: pointer;
	a { padding-right: 0; }
}

.header-search {
	margin: 0 em($grid-gutter);
	.header-search-input {
		width: 100%; @include border-box; border-radius: 1em;
		border: solid 1px #DDD; @include box-shadow(0 1px 3px #EEE inset);
		-webkit-appearance: none; padding: .25em .5em .25em 1.8em; color: $gray;
		font-size: em(12px);
		background: white url('../img/search-icon.svg') no-repeat .5em center;
		&:focus { outline: none; @include box-shadow(0 0 5px $brown); border-top-color: #DDD; }
		.no-svg & { background-image: url('../img/search-icon.png'); }
	}
	// hide the submit button
	position: relative;
	.header-search-submit { position: absolute; top: 0; left: 0; visibility: hidden; }
}

.header-navigation {
	@extend .clearfix; padding: $element-padding 0; margin: 0 em($grid-gutter);
	li {
		float: left; width: 50%; @include border-box;
		border: solid 1px $brown; border-top: none;
		padding: .5em 0;
		&:nth-child(1), &:nth-child(2) { border-top: solid 1px $brown; }
		&:nth-child(odd) { border-left: none; }
		&:nth-child(even) { border-right: none; border-left: none; }
	}
}

.header-user-panel {
	padding-top: em($grid-gutter); @extend .clearfix;
	margin: 0 em($grid-gutter);
	.user-panel-info { width: 50%; float: left; }
	.user-panel-navigation { width: 50%; float: left; }
	.user-info { position: relative; @extend .clearfix; margin-bottom: .5em; }
	.user-avatar { display: block; width: em(50px); height: em(50px); float: left; }
	.user-name {
		@extend .bebas; font-size: em(17px); color: $brown; display: block;
		position: absolute; bottom: em(-3px); width: em(90px); left: em(55px);
	}
}

// tablet
@include breakpoint(6) {
	.header-logo { margin-left: 0; }
	.header-menu-trigger { margin-right: 0; }
	.header-search { margin-right: 0; float: right; padding: $element-padding 0; width: fixed(2); }
	.header-navigation { margin: 0; padding-bottom: 0; }
	.header-user-panel { margin: 0; }
}

// desktop
@include breakpoint(11) {
	// hide menu button
	.header-menu-trigger { display: none; }
	// swap logout buttons
	a.btn-logout-desktop { display: block; }
	a.btn-logout-mobile { display: none; }
	.header-navigation {
		position: absolute; left: em(190px);
		li { width: auto; border: none !important; padding: 0; }
	}
	.header-user-panel { display: none; }
}