$modular-scale: false !default;

@if ($modular-scale) {		
	
	$ratio: $golden;
	$base-size: 16px 72px;
	$highlightColor: #ffff99;
	
	body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
		margin:0;
		padding:0;
	}
	
	p { font-size: em(ms(0)); line-height: 1.6; margin-bottom: em(ms(1)); }
	
	h1, h2, h3, h4, h5, h6 {
		text-rendering: optimizeLegibility;
		line-height: 1.1;
		small { font-size: 60%; color: #888; line-height: 0; }
	}
	
	h1 { font-size: em(ms(4)); margin-bottom: em(ms(0), ms(4)); margin-top: em(ms(0), ms(4)); }
	h2 { font-size: em(ms(3)); margin-bottom: em(ms(0), ms(3)); margin-top: em(ms(0), ms(3)); }
	h3 { font-size: em(ms(2)); margin-bottom: em(ms(0), ms(2)); margin-top: em(ms(0), ms(2)); }
	h4 { font-size: em(ms(1)); margin-bottom: em(ms(0), ms(1)); margin-top: em(ms(0), ms(1)); }
	h5 { font-size: em(ms(0)); margin-bottom: em(ms(0)); margin-top: em(ms(0)); }
	h6 { font-size: em(ms(0)); margin-bottom: em(ms(0)); margin-top: em(ms(0)); }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: em(22px) 0 em(21px); height: 0; }
		
	em, i { font-style: italic; line-height: inherit; }
	strong, b { font-weight: bold; line-height: inherit; }
	small { font-size: 60%; line-height: inherit; }
	code { font-weight: bold; background: $highlightColor; }
	
	/* Lists */
	ul, ol { font-size: em(ms(0)); line-height: 1.6; margin-bottom: em(ms(1)); list-style-position: outside; }
	ul.square, ul.circle, ul.disc { margin-left: em(ms(1)); }
	ul.square { list-style-type: square; }
	ul.circle { list-style-type: circle ; }
	ul.disc { list-style-type: disc; }
	ul.large li { line-height: em(21px); }
	
	/*  Blockquotes  */
	blockquote, blockquote p { line-height: 1.5; color: #777; }
	blockquote { margin: 0 0 em(ms(1)); padding: em(9px) em(20px) 0 em(19px); border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: em(ms(0) - 1); color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited { color: #555; }
	
	abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }
	abbr { text-transform: none; }

}