// cross browser border box
@mixin border-box() {
	@include box-sizing(border-box);
	
	// MUST BE ABSOLUTE PATH
	@include ie7 { behavior: url(#{$static-path}/js/boxsizing.htc); }
}

// cross browser mixins
@mixin ff { body:not(:-moz-handler-blocked) & { @content } }
@mixin ie7 { .lt-ie8 & { @content } }
@mixin ie8 { .lt-ie9 & { @content } }

// clearfix mixin
@mixin clearfix { *zoom: 1; &:before, &:after { display: table; content: ""; } &:after { clear: both; } }
.clearfix { @include clearfix; }

// converting px to em
@function em($px, $base: $base-font-size) { @return ($px / $base) * 1em; }