// Grid Variables
// ==========================================================================

$grid-column: 60px;
$grid-gutter: 20px;
$base-font-size: 16px;

// generate visual grid overlay on class .grid-overlay
$grid-overlay: false;

// fallback breakpoint (column count for < IE9)
$ie-support: false;

// label for your mobile first breakpoint
$breakpoint-list: 'small';

// Path to server's static files directory
// Do not use a trailing slash
$static-path: '..';

// Project Variables
// ==========================================================================
