@if ($framework-forms) {

    form { margin: 0; }
    fieldset { padding: 0; margin: 0; border: 0; }
            
    // identify controls by their labels
    label { display: block; margin-bottom: .25em; color: $text-color; }
    
    // inputs, textareas, selects
    input,textarea,select {
      @include border-box;
      @include inline-block;
      height: $line-height * 1.5; padding: .25em .5em; margin-bottom: .5em;
      font-size: .75em; color: $text-color;
      border: none; background: #eee;
    }
    
    // inputs within a label
    label input,label textarea,label select { display: block; }
    
    // Mini reset for unique input types
    input[type="image"],input[type="checkbox"],input[type="radio"] {
      width: auto; height: auto; padding: 0; margin: .25em 0; *margin-top: 0; /* IE7 */
      line-height: normal; cursor: pointer; @include border-radius(0); border: 0 \9; /* IE9 and down */
    }
    input[type="image"] { border: 0; }
    
    // Reset the file input to browser defaults
    input[type="file"] {
      width: auto; padding: initial; line-height: initial;
      border: initial; background-color: white; background-color: initial; @include box-shadow(none);
    }
    
    // Help out input buttons
    input[type="button"],input[type="reset"],input[type="submit"] { width: auto; height: auto; }
    
    // Set the height of select and file controls to match text inputs
    select {
      height: em(28px); /* In IE7, the height of the select element cannot be changed by height, only font-size */
      *margin-top: .25em; /* For IE7, add top margin to align select with labels */
      line-height: em(28px);
    }
        
    // Chrome on Linux and Mobile Safari need background-color
    select { background-color: white; }
    
    // Make multiple select elements height not fixed
    select[multiple],select[size] { height: auto; }
        
    // Make textarea height behave
    textarea { height: auto; }
    
    // Hidden inputs
    input[type="hidden"] { display: none; }    
        
    // FOCUS STATE
    input,textarea {
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
      $transition: border linear .2s, box-shadow linear .2s;
      @include transition($transition);
    }
    input:focus,textarea:focus {
      border-color: rgba(82,168,236,.8);
      $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
      @include box-shadow($shadow);
      outline: 0; outline: thin dotted \9; /* IE6-9 */
    }
    input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus {
      @include box-shadow(none); // override for file inputs
      @include tab-focus();
    }
    
    // buttons
    .btn {
        display: inline-block; @include border-box;
        font-size: 1em; line-height: 1.8em;
        height: $line-height * 1.5; padding: .25em .5em; margin-bottom: .5em;
        font-size: .75em; color: $text-color; background: #DDD;
        text-align: center; text-decoration: none; vertical-align: middle;
        border: none; cursor: pointer;
    }
    
    // Focus state for keyboard and accessibility
    .btn:focus { @include tab-focus(); }    
    
    // Cross-browser Jank
    button.btn,input[type="submit"].btn {
        // Firefox 3.6 only I believe
        &::-moz-focus-inner { padding: 0; border: 0; }
        // IE7 has some default padding on button controls
        *padding-top: 2px; *padding-bottom: 2px;
    }
        
}