// For image replacement
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden { display: none !important; visibility: hidden; }

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

// Hide visually and from screenreaders, but maintain layout
.invisible { visibility: hidden; }

// clearfix class
.clearfix { *zoom: 1; &:before, &:after { display: table; content: ""; } &:after { clear: both; } }

// unstyle lists
ul.unstyled, ol.unstyled { margin: 0 0 ($line-height / 2) 0; list-style: none; }