$font-size: 16px !default; 		// Your base font-size in pixels
$line-height: 1.5em !default;   // 24px line height
$em: $font-size / 1em !default;	// Shorthand for outputting ems
$text-color: #333 !default;

body { color: $text-color; @extend .sans-serif; }
p { margin: 0 0 $line-height / 2; line-height: $line-height; }
    
// headings
h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: bold; text-rendering: optimizelegibility; line-height: $line-height; }
h1 { font-size: 1.875em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.125em; }
h4, h5, h6 { font-size: 1em; }
    
// lists
ul, ol { padding: 0; margin: 0 0 ($line-height / 2) 1.5em; }
ul ul,ul ol,ol ol,ol ul { margin-bottom: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
li { line-height: $line-height; }
ul.unstyled,ol.unstyled { margin-left: 0; list-style: none; }

// description Lists
dl { margin-bottom: $line-height; }
dt,dd { line-height: $line-height; }
dt { font-weight: bold; }
dd { margin-left: $line-height / 2; }

// horizontal rules
hr { margin: $line-height 0; border: 0; border-top: 1px solid $text-color; border-bottom: 1px solid white; }

// emphasis
strong { font-weight: bold; }
em { font-style: italic; }

// bbbreviations and acronyms
abbr { font-size: 90%; text-transform: uppercase; border-bottom: 1px dotted #ddd; cursor: help; }

// blockquotes
blockquote {
  padding: 0 0 0 1em; margin: 0 0 $line-height; border-left: em(5px) solid lighten($text-color, 50%);
  p { margin-bottom: 0; }
}

// quotes
q:before,q:after,blockquote:before,blockquote:after { content: ""; }

// addresses
address { display: block; margin-bottom: $line-height; line-height: $line-height; font-style: normal; }